
.SearchBox{
    text-align: center;
    /* border: 2px solid black;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-wrap: wrap; */
    
}